*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    text-align: center;
}

.display-box{
    margin: 10px;
    border: 1px solid;
}

.list-elements{
    padding: 6px;
}

span{
    padding: 5px;
}